body{
    background-color: rgb(228, 118, 118);
    background-image: linear-gradient(to right, rgb(236, 130, 130), rgb(228, 188, 113), rgb(221, 221, 113), rgb(119, 227, 119), rgb(104, 104, 216), rgb(213, 167, 246), rgb(239, 156, 239));
    font-family: Arial, sans-serif;
    color: white;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
textarea{
    
    width: 50%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    background-color: rgb(124, 115, 115);
    color: white

}
.spacing{
    margin-top: 20px;
}
::placeholder {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
button{
    color: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    background-color: rgb(124, 115, 115);
    font-size: 125%;
    
}